.wrapper {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 60px 10px;
  width: 80%;
}

.header {
  font-size: 1.9rem;
}

.input {
  height: 40px;
  margin: 15px 0px;
  font-size: 1.5rem;
  background-color: #424769;
  border: none;
  color: white;
  width: 100%;
}

.input:focus {
  outline: none;
}

.row {
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons > * {
  margin: 10px;
}

.buttons > *:first-child {
  margin-left: 0px;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin: 15px 0px;
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.5rem;
  }
  .row,
  .input,
  .erro {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 1.3rem;
  }
  .row,
  .input,
  .error {
    font-size: 1.1rem;
  }

  .content {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 1.2rem;
  }

  .row,
  .input,
  .error {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons > * {
    margin: 5px 0px;
  }
}

@media screen and (min-width: 1600px) {
  .header {
    font-size: 2.2rem;
  }
  .row,
  .input,
  .error {
    font-size: 1.9rem;
  }
}
