.wrapper {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 400px;
}

.headline {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons > * {
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .headline {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 350px;
  }
  .headline {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 320px;
  }
  .headline {
    font-size: 1.8rem;
  }
}
