.wrapper {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 60px 10px;
  width: 80%;
}

.table-container {
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
}

.table {
  width: 100%;
  font-size: 1.2rem;
  /* border: 1px solid black; */
  border-collapse: collapse;
}

/* tr:nth-child(odd) {
  background-color: #424769;
} */

.error {
  color: red;
  font-size: 1.2rem;
  margin: 15px 0px;
}

.table-header {
  font-size: 1.3rem;
  color: #ffb883ff;
  background-color: #2d3250 !important;
}

th,
td {
  border: none;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  max-width: 500px;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.buttons > * {
  margin: 10px;
}

.buttons > *:first-child {
  margin-left: 0px;
}

/* tr {
  border-bottom: 1px solid white;
} */

@media screen and (max-width: 1024px) {
  .table,
  .error {
    font-size: 1rem;
  }

  .table-header {
    font-size: 1.2rem;
  }

  th,
  td {
    max-width: 350px;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }
  .table,
  .error {
    font-size: 0.8rem;
  }

  .table-header {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 10px 10px;
    max-width: 250px;
  }

  .buttons > * {
    margin: 5px;
  }

  @media screen and (max-width: 480px) {
    .content {
      width: 95%;
    }
    .table,
    .error {
      font-size: 0.7rem;
    }

    .table-header {
      font-size: 0.8rem;
    }

    th,
    td {
      padding: 10px 8px;
      max-width: 150px;
    }

    .buttons > * {
      margin: 2px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .table,
  .error {
    font-size: 1.5rem;
  }

  .table-header {
    font-size: 1.8rem;
  }

  th,
  td {
    max-width: 400px;
    padding: 10px 10px;
  }
}
