.wrapper {
  width: 160px;
  height: 40px;
  background-color: #ffb883ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.text {
  color: #2d3250;
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper:active {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 1.1rem;
  }

  .wrapper {
    width: 130px;
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 120px;
    height: 30px;
  }
  .text {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper {
    width: 200px;
    height: 50px;
  }
  .text {
    font-size: 1.5rem;
  }
}
