.wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper:active {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 25px;
    height: 25px;
  }

  .icon {
    width: 25px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 20px;
    height: 20px;
  }

  .icon {
    width: 20px;
  }
}
